<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QustionareModelContainer" connectionString="Data Source=217.16.28.213;Database=questionare; Persist Security Info=True;User ID=kloderSQL;Password=Kaligula2" providerName="System.Data.SqlClient" />
    <add name="QustionareContex" connectionString="metadata=res://*/Qustionare.csdl|res://*/Qustionare.ssdl|res://*/Qustionare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.16.28.213;initial catalog=questionare;persist security info=True;user id=kloderSQL;password=Kaligula2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>